<dict>
    <key>name</key>
    <string>vmware_tools</string>
    <key>description</key>
    <string>Installs VMware Tools</string>
    <key>hidden</key>
    <false/>
    <key>components</key>
    <array>
        <dict>
            <key>type</key>
            <string>package</string>
            <key>url</key>
            <string>http://192.168.33.10/Packages/VMwareTools.pkg</string>
        </dict>
    </array>
</dict>
