<dict>
    <key>name</key>
    <string>vmware_tools</string>
    <key>description</key>
    <string>Installs VMware Tools</string>
    <key>hidden</key>
    <false/>
    <key>components</key>
    <array>
        <dict>
            <key>type</key>
            <string>package</string>
            <key>url</key>
            <string>http://192.168.33.10/Packages/VMwareTools.pkg</string>
        </dict>
    </array>
</dict>
<dict>
    <key>name</key>
    <string>icloud_assistant</string>
    <key>description</key>
    <string>Skips the iCloud setup assistant</string>
    <key>hidden</key>
    <true/>
    <key>components</key>
    <array>
        <dict>
            <key>type</key>
            <string>package</string>
            <key>url</key>
            <string>http://192.168.33.10/Packages/Outset-SetupAssistant-1.0.pkg</string>
            <key>first_boot</key>
            <false/>
        </dict>
        <dict>
            <key>type</key>
            <string>package</string>
            <key>url</key>
            <string>http://192.168.33.10/Packages/outset-2.0.3.pkg</string>
            <key>first_boot</key>
            <false/>
        </dict>
    </array>
</dict>
